<h2>Add a comment</h2>
<%= form_for ([@post, @post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, size: "8x2" %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>