


/* mixins, variables, etc. */

$grayMediumLight : #eaeaea;
$grayLighter     : #dddddd;
$grayLight       : #aaaaaa;
$blue            : rgb(7, 95, 226);
$iconBlue        : #3D35B4;
$mint            : #00e4a5;


