//@import "bootstrap";
body, li, ul, input, form{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body{
  background: #eee;
  font-family: Arial;
}
hr{
  box-shadow: 0 0 6px #cecece;
}


.h1{
  font-size: 28px;
  text-transform: capitalize;
}


/* mixins, variables, etc. */

$grayMediumLight : #eaeaea;
$grayLighter     : #dddddd;
$grayLight       : #aaaaaa;
$blue            : rgb(7, 95, 226);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* sidebar */

.sidebar {
  background: #333;
  color: #fff;
  padding: 20px;
  @include box_sizing;
  width: 200px;
  float: left;
  height: 100%;
  position: fixed;
  .new-post{
    text-decoration: underline;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    color: #20e7ff;
  }
}

.sidebar-menu {
  background: #111;
  padding: 10px 20px;
  li {
    margin: 10px 0;
    .select-option {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.omnibar{
  background: #ddd;
  padding: 10px;
  @include box_sizing;
  width: 150px;
  height: 100%;
  position: fixed;
  right:0px;
  top:0px;
}





aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}



/* context */
.context{
  margin-left: 200px;
}

/* division -> header */
.division-header{
  background: #fafafa;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px #ccc;
}

.division-output{
  padding: 20px;
}

/* page of post -> header */
.page-header{
  padding: 10px 20px;
  .edit-post{
    font-size: 12px;
    color: #555;
    text-decoration: underline;
    margin-left: 5px;
    display: inline-block;
    vertical-align: super;
    cursor: pointer;
  }
}
.page-body{
  padding: 20px;
}
.post-page-view{
  padding-right: 150px;
}


/* post-form page */
.edit-text{
  height: 500px;
}
.edit-tags{
  .tags{margin-bottom: 10px;}
  .tag{
    cursor: pointer;
    &:hover{text-decoration: line-through;}
  }
}





/* posts */
.post-small{
  margin: 7px 0;

  .post-title{
    cursor: pointer;
    &:hover{text-decoration: underline;}
  }
}

.post-comments{
  font-size: 10px;
  background: #333;
  display: inline-block;
  padding: 3px;
  color: #eee;
  line-height: 7px;
  border-radius: 10px;
  vertical-align: top;
  position: relative;
  &:after{
    content:"";
    position: absolute;
    border-right: 7px solid #333;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    height: 0px;
    width: 0px;
    display: block;
    bottom: -2px;
    right: 2px;
  }
}

.post-author{
  cursor: pointer;
  color: #aaa;
  font-size: 12px;
  text-decoration: underline;
}










/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label{
  cursor: default;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    position: relative;
  }
  li .admin{
    font-size: 30px;
    position: absolute;
    color: darkorange;
  }
}



/* microposts */

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.dt {
  color: $grayLight;
}
.tag{
  background: #c5dae8;
  padding: 1px 7px;
  display: inline-block;
  margin-right: 5px;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}