/*
*
* WAITER
*
*/

$iconBlue : #544bff;

$firstShadowLeft  : 10px;
$secondShadowLeft : 25px;
$thirdShadowLeft  : 40px;



@mixin shadowsLeft($first, $second, $third) {

}




@keyframes waiter {
  0%   {box-shadow: $firstShadowLeft 0px  $iconBlue,  $secondShadowLeft 0px  $iconBlue, $thirdShadowLeft 0px  $iconBlue;}
  10%  {box-shadow: $firstShadowLeft -1px $iconBlue,  $secondShadowLeft -0px $iconBlue, $thirdShadowLeft 0px  $iconBlue;}
  20%  {box-shadow: $firstShadowLeft -2px $iconBlue,  $secondShadowLeft -1px $iconBlue, $thirdShadowLeft 0px  $iconBlue;}
  30%  {box-shadow: $firstShadowLeft -3px $iconBlue,  $secondShadowLeft -2px $iconBlue, $thirdShadowLeft 0px  $iconBlue;}
  40%  {box-shadow: $firstShadowLeft -3px $iconBlue,  $secondShadowLeft -3px $iconBlue, $thirdShadowLeft -1px $iconBlue;}
  50%  {box-shadow: $firstShadowLeft -3px $iconBlue,  $secondShadowLeft -4px $iconBlue, $thirdShadowLeft -2px $iconBlue;}
  60%  {box-shadow: $firstShadowLeft -2px $iconBlue,  $secondShadowLeft -5px $iconBlue, $thirdShadowLeft -3px $iconBlue;}
  70%  {box-shadow: $firstShadowLeft -0px $iconBlue,  $secondShadowLeft -6px $iconBlue, $thirdShadowLeft -4px $iconBlue;}
  80%  {box-shadow: $firstShadowLeft -0px $iconBlue,  $secondShadowLeft -5px $iconBlue, $thirdShadowLeft -6px $iconBlue;}
  90%  {box-shadow: $firstShadowLeft 0px  $iconBlue,  $secondShadowLeft 0px  $iconBlue, $thirdShadowLeft -6px $iconBlue;}
  100% {box-shadow: $firstShadowLeft 0px  $iconBlue,  $secondShadowLeft 0px  $iconBlue, $thirdShadowLeft -1px $iconBlue;}
}

//@keyframes waiter_c{
//  0% {transform: translateY(0px)}
//  80% {transform: translateY(-3px)}
//  100% {transform: translateY(0px)}
//}
//
//@keyframes waiter_b{
//  0% {transform: translateY(0px)}
//  80% {transform: translateY(-7px)}
//  100% {transform: translateY(0px)}
//}

.waiter::after{


  content: "";
  position: absolute;
  opacity: 1;
  will-change: box-shadow;
  display: inline-block;
  transition: box-shadow 0.5s, opacity 0.4s;
  background: transparent;
  animation-duration:0.7s;
  animation-iteration-count: infinite;
  animation-name: waiter;
  width: 10px;
  height: 10px;
  border-radius: 10px;
//  box-shadow: -10px 0px $iconBlue, 10px 0px $iconBlue, 30px 0px $iconBlue;

}
.waiter.hide::after{
  opacity: 0;
}

//&.size1 div{width: 1px;height: 1px;border-radius: 1px;margin-right: 2px;}
//&.size2 div{width: 2px;height: 2px;border-radius: 2px;margin-right: 2px;}
//&.size3 div{width: 3px;height: 3px;border-radius: 3px;margin-right: 3px;}
//&.size4 div{width: 4px;height: 4px;border-radius: 4px;margin-right: 3px;}
//&.size5 div{width: 5px;height: 5px;border-radius: 5px;margin-right: 4px;}
.waiter.size6::after{width: 6px;height: 6px;border-radius: 6px;}
//&.size7 div{width: 7px;height: 7px;border-radius: 7px;margin-right: 5px;}
//&.size8 div{width: 8px;height: 8px;border-radius: 8px;margin-right: 5px;animation-name: waiter_b;}
//&.size9 div{width: 9px;height: 9px;border-radius: 9px;margin-right: 6px;}
//&.size10 div{
//  width: 10px;
//  height: 10px;
//  border-radius: 10px;
//  margin-right: 5px;
//}
//&.size13 div{
//  width: 13px;
//  height: 13px;
//  border-radius: 15px;
//  margin-right: 8px;
//}
//
//
//&.hide{
//  opacity: 0;
//}
//
//
//&.search{
//  top: 48px;
//  left: 303px;
//}
